$clr_primary: #F12E38;
$clr_primary_hover: #D92932;

$clr_secondary: #1E1E1E;
$clr_secondary_hover: #4D4D4D;

$clr_background: #E2E6EF;


$clr_sold: #ED3F3B;
$clr_option: #ED9B02;
$clr_available: #B0D148;

@import 'nice-select';
@import 'style';